---
layout: default
title: About | The Science of Data
description: A little about myself as an aspiring data professional.
image: "/assets/images/seo-preview.jpg"
---

<section>
    {% include header.html style='dark' %}
</section>

<section class="bg-white has-curve mb-10">
    <div class="thin-container mx-auto py-10">
        <div class="author mt-8 flex flex-col items-center md:flex-row">
            <img src="/assets/images/lukas.jpg" alt="Image of Lukas Coffey"
                class="block w-1/2 md:w-64 mr-8 rounded-full">
            <div class="text-center mt-5 md:mt-0 md:text-left">
                <h2 class="h2 mb-0">Lukas Coffey</h2>
                <h3 class="h3 text-green-normal mt-1">Data Engineering Intern at Capital One <br> &amp; Founder at The Science of Data</h3>
            </div>
        </div>
        <div class="mt-10">
            <h3 class="h3 text-gray-500 font-semibold">Why The Science of Data</h3>
            <p class="mt-5 opacity-75 text-lg">My name is Lukas, and I'm studying Computational Modeling &amp; Data Analytics at Virginia Tech. 
                Sometime in the Fall of 2019 I was getting my car fixed and had an idea for a resource that could be a 
                help to my fellow CMDA students and aspiring data scientists like me. I wanted to help explain some of those
                concepts that I had found confusing and complex in my learning. I hope this website serves as a great resource for the next 
                generation of data professionals.</p>
            <h3 class="h3 text-gray-500 font-semibold mt-5">My Story</h3>
            <p class="mt-5 opacity-75 text-lg">I started coding when I was 15. I learned HTML, CSS, and some JavaScript and started building
                simple websites for everyone I could. At the time I was actually heading for nursing school, but once I got there
                I found out it was not for me. I really loved coding, so I added a CMS to my toolbox and that got me a job with a 
                marketing agency in Blacksburg as a software engineer doing web development. I'd also heard about a field called "applied statistics"
                which turned out to be data science, and it absolutely fascinated me. I got into the CMDA at Virginia Tech, and here I am.
                <br><br>
                I still have a passion for the medical field, and am a volunteer EMT with my local rescue squad. I take every opportunity
                I get to work on medical data, and in the future I would love to focus on data science in medicine and medical technology.
                
                I hope this website is a help to you!
            </p>
        </div>
    </div>
</section>

{% include contact.html %}