---
layout: default
title: The Science of Data
description: Data science and machine learning, explained.
image: "/assets/images/seo-preview.jpg"
---

<section class="hero bg-darkBlue">
    <div id="particle-js" class="hidden fixed w-full h-full z-0 md:block"></div>
    
    {% include header.html style='light' %}

    <div class="pt-20 pb-48 px-4 mx-auto text-center
                md:pt-40 md:pb-64 lg:w-1/2">
        <h1 class="h1">
            Data science, machine learning, explained.
        </h1>
        <a href="/articles" class="button mt-10 relative z-10">Start Reading</a>
        <p class="hidden text-gray-500 text-sm mt-4 md:block">psst... click anywhere to add data points!</p>
    </div>
</section>

<section class="bg-white has-curve">
    <div class="curved-top flip-curve">
        <img src="/assets/images/curve.png" alt="Curve for aesthetics">
    </div>
    <div class="thin-container mx-auto py-20">
        <h2 class="h2 text-darkBlue sm:ml-8">LATEST ARTICLES</h2>
        <div class="separator mt-4 sm:ml-8"></div>
        <div class="latest">
            <div class="card horizontal">
                <div class="text">
                    <a href="{{ site.posts[0].url }}"><h2 class="h2">{{ site.posts[0].title }}</h2></a>
                    <a href="{{ site.posts[0].url }}"><p>{{ site.posts[0].excerpt }}</p></a>
                    <a href="{{ site.posts[0].url }}" class="link mt-2">Read It</a>
                </div>
                {% if site.posts[0].image %}
                <div class="image">
                    <a href="{{ site.posts[0].url }}">
                        <img src="/assets/images/uploads/{{ site.posts[0].image }}" alt="{{ site.posts[0].title }}">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="cards">
            {% if site.posts[1] %}
                <div class="card">
                    <div class="text">
                        <a href="{{ site.posts[1].url }}"><h2 class="h2">{{ site.posts[1].title }}</h2></a>
                        <a href="{{ site.posts[1].url }}"><p>{{ site.posts[1].excerpt }}</p></a>
                        <a href="{{ site.posts[1].url }}" class="link mt-2">Read It</a>
                    </div>
                    {% if site.posts[1].image %}
                    <div class="image">
                        <a href="{{ site.posts[1].url }}">
                            <img src="/assets/images/uploads/{{ site.posts[1].image }}" alt="{{ site.posts[1].title }}">
                        </a>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if site.posts[2] %}
                <div class="card">
                    <div class="text">
                        <a href="{{ site.posts[2].url }}"><h2 class="h2">{{ site.posts[2].title }}</h2></a>
                        <a href="{{ site.posts[2].url }}"><p>{{ site.posts[2].excerpt }}</p></a>
                        <a href="{{ site.posts[2].url }}" class="link mt-2">Read It</a>
                    </div>
                    {% if site.posts[2].image %}
                    <div class="image">
                        <a href="{{ site.posts[2].url }}">
                            <img src="/assets/images/uploads/{{ site.posts[2].image }}" alt="{{ site.posts[2].title }}">
                        </a>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
