<div class="header bg-transparent py-10 flex relative z-50">
    <div class="container mx-auto flex flex-row px-4">
        <div class="flex-none">
            <a href="/">
                <img class="w-32 md:w-40" 
                    src="assets/images/logo-light.svg" alt="">
            </a>
        </div>
        <div class="flex-grow flex flex-row justify-end">
            <ul class="flex flex-col items-end md:flex-row md:items-center">
                <a href="/articles"><li class="text-white uppercase font-normal tracking-wider md:text-xl md:ml-10">Articles</li></a>
                <a href="/about"><li class="text-white uppercase font-normal tracking-wider mt-1 md:mt-0 md:text-xl md:ml-10">About</li></a>
            </ul>
        </div>
    </div>
</div>