/* ------------------------------------------------------- */
/* Layout */
.thin-container {
    @apply mx-auto px-4;
    width: 100%;
    max-width: 960px;
}

/* ------------------------------------------------------- */
/* Text */
body, p, li, span, a, h1, h2, h3, h4, h5, h6 {
    @apply font-body text-darkBlue;
}

.link {
    @apply text-green-normal font-medium text-lg inline-block;
}
.link::after {
    content: '';
    background-image: url('/assets/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    transition: 0.15s;
}

/* ------------------------------------------------------- */
/*  Headings */

.h1 {
    @apply text-3xl text-white font-body font-medium tracking-wide;
}
.h2 {
    @apply text-2xl font-medium tracking-wide;
}
.h3 {
    @apply text-xl font-bold tracking-normal;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }
    .h2 {
        @apply text-3xl;
    }
}

/* ------------------------------------------------------- */
/* Special Effects */

.separator {
    @apply bg-green-normal w-20;
    height: 5px;
}

.has-curve {
    @apply relative;
}

.curved-top {
    @apply absolute w-full;
    bottom: 99.9%; /* 99.5 instead of 100 to prevent thin line when resizing */
}

.flip-curve {
    transform: rotate(180deg);
}