.hero {
    background-image: url('/assets/images/article-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.post-hero {
    background-image: url('/assets/images/article-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@screen md {
    .hero {
        background-image: none;
    }
}