<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- CSS and JS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="" id="body" onload="PR.prettyPrint()">


    {{ content}}


    <script src="{{ "assets/js/main.js" | relative_url }}" type="text/javascript"></script>
  </body>
</html>
